<div class="card" ng-click="edit = true" ng-hide="edit">

    <h4>{{ card.title }}</h4>
    <span class="description"> Story Points: {{ card.story_points }} Business Value: {{ card.business_value }} </span>
</div>

<div class="card" ng-show="edit" ng-model-options="modelOptions">
    <div class="flex">
        <label><strong> Title: &nbsp; </strong></label>
        <input type="text" ng-model="card.title" ng-change="update()"/>
    </div>
    <textarea ng-model="card.description" ng-change="update()" placeholder="Enter Description..." ></textarea>
    <textarea ng-model="card.story_points" ng-change="update()" placeholder="Enter Story Points..." ></textarea>
    <textarea ng-model="card.business_value" ng-change="update()" placeholder="Enter Business Value..." ></textarea>
    <div>
        <label>List: </label>
        <select ng-options="list as list.name for list in data"
                ng-model="destList"></select>
        <button ng-click="move()">Move</button>
    </div>
    <button style="display: block" ng-click="edit=false"> Close </button>
    <button ng-click="delete()"> Delete Card </button>

</div>