{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static "css/scrumboard.css" %}">
    <title>Home</title>
</head>
<body ng-app="scrumboard.demo">
    <ng-view></ng-view>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <script src="{% static "js/static/angular-route.min.js" %}"></script>
    <script src="{% static "js/controllers/scrumboard.js" %}"></script>
    <script src="{% static "js/controllers/scrumboard.config.js" %}"></script>
    <script src="{% static "js/controllers/login.controller.js" %}"></script>
    <script src="{% static "js/services/login.service.js" %}"></script>
    <script src="{% static "js/directives/card.directive.js" %}"></script>
</body>
</html>

